---
import Button from "./Button.astro"
---

<section class="px-[24px] py-[48px] lg:py-[80px] lg:px-[64px] flex-col flex lg:flex-row lg:items-center lg:justify-between space-y-[24px] bg-black rounded-[10px]">
    <div class="flex-col space-y-[24px] lg:max-w-[540px]">
        <h4 class="font-bold text-[26px] text-center text-white lg:text-left">Book a call with me</h4>
        <p class="text-[16px] text-center text-white lg:text-left lg:text-[18px]">I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.</p>
    </div>
    <div>
     <Button class="bg-[#EB7565] m-auto hover:bg-[#F6A560]">Free Consultation</Button>
    </div>
</section>
