---
import Logo from '../assets/logo.svg';
import LogoSM from '../assets/logo-sm.svg';
import Button from './Button.astro'
---

<header class="flex justify-between items-center">
    <Logo class="hidden md:block"/>
    <LogoSM class="md:hidden"/>
    <Button class="bg-black hover:bg-[#755CDE]">Free consultation</Button>
</header>
